.supp-hero {
    color: white;
    background-color: #387ed1;
    display: flex;
    justify-content: center;
}

.hero-ii {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    padding-bottom: 7rem;
}

.hero-inp {
    width: 97%;
    border-radius: 3px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.3rem;
    margin-bottom: 1rem;
}

.hero-inp input {
    width: 500px;
    font-size: 1.1rem;
    outline: none;
    border: none;
}

.hero-inp i {
    color: rgb(117, 117, 117);
    font-size: 1.2rem;
}

.link-row-i {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.col-tw {
    height: 100%;
    padding-left: 1rem;
}

.col-tw h6 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6rem;
}

.col-tw h4 {
    margin-bottom: 0.5rem;
}

.col-tw ol {
    padding-left: 3rem;
}

.col-tw ol li {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* Ticket Component */

.supp-tick {
    color: black;
    display: flex;
    justify-content: center;
}

.tick {
    flex-direction: column;
}

.tick h4 {
    width: 100%;
    color: rgb(125, 125, 125);
    font-weight: 400;
    margin-bottom: 3rem;
    margin-left: -0.3rem;
}

.tick .row {
    width: 100%;
    margin-bottom: 3rem;
}

.tick-rw {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tick-rw a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.3rem;
}

.tick-rw a p {
    margin: 0;
    font-size: 1.3rem;
}

.tick-rw a i {
    font-size: 1.2rem;
}

.tick-rw ul {
    list-style: none;
    margin-left: 0.5rem;
}

.tick-rw ul li {
    color: rgb(29, 117, 225);
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
