body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  caret-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
}

.fot a {
  text-decoration: none;
  color: rgb(123, 123, 123);
}

.bx {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.bx a {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.pr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}